
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ثبت نام</title>
</head>
<body>
    <div> 
        <label>نام</label>
        <input type="text" name="name" value="" />
    </div>
    <div>
        <label>شماره</label>
        <input type="number" name="number" value="" />>
    </div>
</body>
</html>
